<!DOCTYPE kpartgui>
<gui name="kdelicious" library="kdelicious" version="1">
<MenuBar>
 <Menu name="tools"><text>&amp;Tools</text>
  <Action name="kdelicious menu"/>
 </Menu>
</MenuBar>
<ToolBar name="extraToolBar"><text>Extra Toolbar</text>
  <Action name="delicioustag"/>
</ToolBar>
</gui>
